<!DOCTYPE html>
<html lang="en">

<head>
    <!--Partials head-->
    {{>head}}
    <script defer src="/js/moreinfo.js"></script>
</head>

<body>
    <header>
        <!--Partials header-->
        {{>header}}
    </header>


    <div class="container">
        <h1 class="text-center">{{title}}</h1>
        <hr>
        <h2>Hi {{username}}</h2>
        <!--Prints out user ID via div ID (look script) -->
        
        <div class="fixedHeight24px inLineBlock" id="matchfound">
            {{#if userShown}}
            <b>Top three matches for user: {{username}}</b>
            {{/if}}
        </div>
        
        <div class="fixedHeight">
            {{#if userShown}}
            <table class="table">
                <tr>
                    <td class="col-md-8">
                        <p class="font-weight-bold">{{matchname1}}</p>
                    </td>
                    <td>
                            <button onclick="showMoreInfo('{{userobj1.name}} {{userobj1.age}} {{userobj1.gender}}')" class="btn btn-dark" type="submit">User Details</button>
                    </td>
                    <td>
                        <form action="/room" method="POST">
                            <input name="room" value="{{match1id}}" type="hidden">
                            <input name="username2" value={{matchname1}} type="hidden">
                            <button class="btn btn-dark float-right" type="submit">Start Chat</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-8">
                        <p class="font-weight-bold">{{matchname2}}</p>
                    </td>
                    <td>
                            <button onclick="showMoreInfo('{{userobj2.name}} {{userobj2.age}} {{userobj2.gender}}')" class="btn btn-dark" type="submit">User Details</button>
                    </td>
                    <td>
                        <form action="/room" method="POST">
                            <input name="room" value="{{match2id}}" type="hidden">
                            <input name="username2" value={{matchname2}} type="hidden">
                            <button class="btn btn-dark float-right" type="submit">Start Chat</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-8">
                        <p class="font-weight-bold">{{matchname3}}</p>
                    </td>
                    <td>
                            <button onclick="showMoreInfo('{{userobj3.name}} {{userobj3.age}} {{userobj3.gender}}')" class="btn btn-dark" type="submit">User Details</button>
                    </td>
                    <td>
                        <form action="/room" method="POST">
                            <input name="room" value="{{match3id}}" type="hidden">
                            <input name="username2" value={{matchname3}} type="hidden">
                            <button class="btn btn-dark float-right" type="submit">Start Chat</button>
                        </form>
                    </td>
                </tr>
            </table>
            {{else}}
            <div class="text-center divwithpadding">
                <h1>No more matches</h1>
            </div>
            {{/if}}
        </div>
        <hr>
        <div class="container">
            <div class="flex">
            <form action="/showPreviousMatches" method="POST">
                {{#if buttonCheck}}
                <button type="submit" class="btn btn-primary flexbutton">Show previous matches</button>
                {{/if}}
            </form>
            <form action="/showMoreMatches" method="POST">
                {{#if userShown}}
                <button type="submit" class="btn btn-primary flexbutton">Show me more matches</button>
                {{/if}}
            </form>
            </div>
        </div>
        <hr>
        <b>Dine chats: </b>
        <div>
            <table class="table">
                {{#each chats}}
                <tr>
                    <td class="col-md-8">
                        <p>{{name}}</p>
                    </td>
                    <td>
                        <form action="/room" method="POST">
                            <input name="room" value="{{id}}" type="hidden">
                            <input name="username2" value={{name}} type="hidden">
                            <button class="btn btn-dark float-right" type="submit">start chat</button>
                        </form>
                    </td>

                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <!--
    <script>
        //Gets user ID from prevouis page findmatch.
        const resultList = document.getElementById('matchfound');
        new URLSearchParams(window.location.search).forEach((value,name) => {
            resultList.append(`${value} `);
        })
    </script>
    -->

    <footer>
        <!--Partials footer-->
        {{>footer}}
    </footer>

</body>

</html>