<!DOCTYPE html>
<html lang="en">
<head>
    <!--Partials head-->
    {{>head}}
</head>
<body>
    <header>
        <!--Partials header-->
        {{>header}}
    </header>
    

    <div class="container">
        <h1 class="text-center">{{title}}</h1>
        <hr>
        <h2>Hi {{username}}</h2>
        <!--Prints out user ID via div ID (look script) -->
        <div class="inLineBlock" id="matchfound">
            <b>Top three matches for user: {{username}}</b>
        </div>

        <table class="table">
            <tr>
                <td class="col-md-8"><p class="font-weight-bold">{{matchname1}}</p></td>
                <td class="col-md-3"><a class="btn btn-primary" href="#">more info</a></td>
                <td class="col-md-3"><a class="btn btn-primary" href="#">start chat</a></td>
            </tr>
            <tr>
                <td class="col-md-8"><p class="font-weight-bold">{{matchname2}}</p></td>
                <td><a class="btn btn-primary" href="#">more info</a></td>
                <td><a class="btn btn-primary" href="#">start chat</a></td>
            </tr>
                    <tr>
                <td class="col-md-8"><p class="font-weight-bold">{{matchname3}}</p></td>
                <td><a class="btn btn-primary" href="#">more info</a></td>
                <td><a class="btn btn-primary" href="#">start chat</a></td>
            </tr>
        </table>
    </div>
    <!--
    <script>
        //Gets user ID from prevouis page findmatch.
        const resultList = document.getElementById('matchfound');
        new URLSearchParams(window.location.search).forEach((value,name) => {
            resultList.append(`${value} `);
        })
    </script>
    -->

    <footer>
        <!--Partials footer-->
        {{>footer}}
    </footer>

</body>
</html>