<!DOCTYPE html>
<html lang="en">
<head>
    <!--Partials head-->
    {{>head}}
</head>
<body>
    <header>
        <!--Partials header-->
        {{>header}}
    </header>
    <h1>{{title}}</h1>


    <!--Prints out user ID via div ID (look script) -->
    <div class="inLineBlock" id="matchfound">
        <b>Top three matches for user: {{username}}</b>
    </div>


    <div class="align-text">
        {{matchname1}}
        <!-- This value should be the name of the match from server data. -->
        <!-- Consider datatypes to insert userdata -->
        <button class="align-button" type="submit">More info</button>
        <button  class="button-color" type="submit">Start chat</button>
    </div>
    <div class="align-text">
        {{matchname2}}
        <!-- This value should be the name of the match from server data. -->
        <!-- Consider datatypes to insert userdata -->
        <button class="align-button" type="submit">More info</button>
        <button class="button-color" type="submit">Start chat</button>

    </div>
    <div class="align-text">
        {{matchname3}}
        <!-- This value should be the name of the match from server data. -->
        <!-- Consider datatypes to insert userdata -->
        <button class="align-button" type="submit">More info</button>
        <button  class="button-color" type="submit">Start chat</button>
    </div>



    <form action="FindMoreMatches.html" method="GET">
        <button type="submit" class="FindMoreMatches">Find more matches!</button>
    </form>

    <!--
    <script>
        //Gets user ID from prevouis page findmatch.
        const resultList = document.getElementById('matchfound');
        new URLSearchParams(window.location.search).forEach((value,name) => {
            resultList.append(`${value} `);
        })
    </script>
    -->

    <footer>
        <!--Partials footer-->
        {{>footer}}
    </footer>

</body>
</html>