<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <script>
        let roomName = {{ roomName }}

    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <!--Script til at få info fra givet sted-->
    <script defer src="js/script.js"></script>
    <!--Script til at få info fra givet sted-->
    {{>head}}

</head>

<body>

    <header>
        <!--Partials header-->
        {{>header}}
    </header>

    <input id="user1" name={{ userName }} type="hidden">
    <input id="user2" name={{ usermatch }} type="hidden">
    <div class="container">
        <h3>You're chatting with {{usermatch}}</h3>
        <hr>
        <p><i>{{intrestChat}}</i></p>
        <div class="chat-container">
            <div>
                {{#each chatData}}
                <div>{{name}} : {{message}}</div>
                <!--Load beskeder med hbs #each-->
                {{/each}}
                <div id="message-container" class="container"></div>
            </div>
        </div>
        <hr>
        <div class="form-group mb-2">
            <form class="form-inline" id="send-container">
                <div class="form-group mx-sm-3 mb-2">
                    <input class="form-control" type="text" id="message-input" placeholder="Enter message here...">
                </div>
                <button class="btn btn-primary" type="submit" id="send-button">Send</button>
            </form>
        </div>
    </div>
    </div>



    <footer>
        <!--Partials footer-->
        {{>footer}}
    </footer>

</body>

</html>